<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="PATH" value="E:\code\Test_project" />
		<add key="INI_PATH" value="E:\code\Test_project" />
		<add key="CSV_PATH" value="E:\code\Test_project" />
		<add key="path_APP" value="E:\资料\PCR 模块的光学系统验证设计文档\量子点测试\665量子点测试CY5\20200618161115" />
		<add key="Original_path_APP" value="E:\资料\PCR 模块的光学系统验证设计文档\量子点测试\665量子点测试CY5\20200618161115" />
		<add key="com" value="COM1" />
		<add key="RS232" value="COM1" />
		<add key="comEnabled" value="关闭串口" />
		<add key="RS232Enabled" value="关闭串口" />
		<add key="tab" value="3" />
		<add key="FAM_Threshold" value="4501" />
		<add key="VIC_Threshold" value="4501" />
		<add key="ROX_Threshold" value="12501" />
		<add key="CY5_Threshold" value="4501" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ivi.Visa" publicKeyToken="a128c98f1d7717c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.0.0" newVersion="5.11.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="dc6ad606294fc298" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.0.40.49152" newVersion="19.0.40.49152" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>